<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button size="small" shape="round" (click)="voltar()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-title>Anime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-input label="Nome" placeholder="Insira o nome" [(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button size="default" color="success" shape="round" >
        <input type="file"  (change)="uploadFile($event.target)" />
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-input label="Estudio" placeholder="Insira o nome do estudio" [(ngModel)]="estudio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="date" label="Data Lançamento" placeholder="Data de Lançamento" [(ngModel)]="datalancamento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" label="Temporada" placeholder="Nº de temporadas" [(ngModel)]="temporada"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="number" label="Episodios" placeholder="Nº de episodios" [(ngModel)]="episodios"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="addanime()">Adicionar Anime</ion-button>
  </ion-list>
</ion-content>
