<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="voltar()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Adicionar Anime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <ion-list>
    <app-anime-input
    [animeForm]="animeForm"
    [botao]="textoBotao"
    (submit)=addanime($event)></app-anime-input>
    <ion-button size="default" color="success" shape="round" >
      <input type="file" (change)="uploadFile($event.target)" />
    </ion-button>
  </ion-list>
</ion-content>
