<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      ANIME
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="redirecionarParaPesquisa()" color="secondary">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="logout()" color="secondary">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">

  <app-loading *ngIf="isLoading"></app-loading>
  <ion-list lines="none" *ngIf="!isLoading"> 
    <ion-item-group>
      <app-animes *ngFor="let anime of animes"
      [anime]="anime"
      (click)="AnimeDetalhes(anime)"></app-animes>
    </ion-item-group>
  </ion-list>


  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button (click)="RedirecionarParaAdicionar()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>