<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ANIME
    </ion-title>
    <ion-button (click)="logout()">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none"> 
    <ion-item-group>
      <app-animes *ngFor="let anime of animes"
      [anime]="anime"
      (click)="AnimeDetalhes(anime)"></app-animes>
    </ion-item-group>
  </ion-list>


  <ion-fab horizontal="end" vertical="bottom">
    <ion-fab-button (click)="RedirecionarParaAdicionar()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>