<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button size="small" shape="round" (click)="voltar()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-title>Anime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="add-form">
    <ion-item>
      <ion-input label="Nome" placeholder="Insira o nome" [(ngModel)]="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button size="default" color="success" shape="round">
        <input type="file" (change)="uploadFile($event.target)" />
      </ion-button>
    </ion-item>
    <!-- Mais campos para inserir informações do anime -->
    <ion-button expand="block" (click)="addanime()">Adicionar Anime</ion-button>
  </ion-list>
</ion-content>
