page-anime-add {
    .add-form {
      // Estilos para o formulário de adição
      ion-input {
        border: 1px solid #ccc;
        border-radius: 4px;
        // Outros estilos para os campos de input
      }
      
      ion-button {
        background-color: #ff9900;
        color: #fff;
        border-radius: 4px;
        // Estilos para os botões
      }
    }
  }
  