page-home {
    .search-bar {
      background-color: #ff9900;
      color: #fff;
      border-radius: 8px;
      // Outros estilos para a barra de pesquisa
    }
    
    .anime-list {
      ion-card {
        background-color: #f5f5f5;
        margin-bottom: 16px;
        // Mais estilos conforme necessário
      }
    }
  }
  