
.itemCatalogo{
  border: 2px solid rgb(80, 79, 79);
  border-radius: 12px;
  padding: 5px;

}

ion-toolbar{
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  color: #190933;
  border-color: #665687;
  --background: #B084CC;
}