<ion-header>
  <ion-toolbar>
    <ion-title>Pesquisar Animes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionChange)="onSearchChange($event)" debounce="500" [(ngModel)]="query" placeholder="Digite para pesquisar"></ion-searchbar>

  <ion-list *ngIf="animes.length > 0">
    <ion-item *ngFor="let anime of animes">
      <ion-thumbnail slot="start">
        <img [src]="anime.downloadURL" alt="Cover">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ anime.nome }}</h2>
        <p>{{ anime.estudio }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!--<app-empty-screen *ngIf="animes.length === 0 && !isLoading" [title]="model.title"></app-empty-screen>-->
  
  <ion-spinner *ngIf="isLoading"></ion-spinner>
</ion-content>
